/dist/*

# OS files
.DS_Store
__DS_Store

# Xcode

## User settings
xcuserdata/
*.xcuserstate

## Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Safari Extension Build
dist/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Code editors
.idea/
.vscode/